extends ../../layout

block content
  .container
    .row
      .col-xs-12
        nav.breadcrumb.ph-3.small.uppercase
          a.b.item(href=`/`) INICIO
          a.b.item(href=`/registro`) REGISTRO

  .container
    h1 Registrarse
    .hr.mb-5.mt-2
    .row.justify-content-center
      .col-xs-12.col-md-6
        .white.br-10.rd-0-2.shadow
          .p-3
            .msg.error#form-results
            .row
              form.col-xs-12.validate-rest(id="signupForm" action=`/api/create-user/` method="post" data-page=`registro-confirmacion` data-error="#form-results")
                .row
                  .col-xs-12
                    .form-group
                      .form-control
                        input#first_name(type="text" name="first_name" placeholder=' ' required)
                        label(for='first_name') Nombre
                  .col-xs-12
                    .form-group
                      .form-control
                        input#last_name(type="text" name="last_name" placeholder=' ' required)
                        label(for='last_name') Apellido
                  .col-xs-12
                    .form-group
                      .form-control
                        input#username(type="text" name="username" autocomplete="username" placeholder=' ' required)
                        label(for='username') Usuario
                  .col-xs-12
                    .form-group
                      .form-control
                        input#email(type="email" name="email" placeholder=' ' required)
                        label(for='email') Correo Electrónico
                  .col-xs-12
                    .form-group
                      .form-control
                        input#password(type="password" name="password" autocomplete="new-password" placeholder=' ' required)
                        label(for='password') Contraseña
                .row
                  .col-xs-12.tr
                    button.primary.w-100-xs(type="submit") Completar registro
          .pt-3.white-500
            a.button.flat(href="/") Iniciar Sesión