footer.mt-8
  .container-fluid.primary
    .container.ph-3
      .row.justify-content-center
        .col-md-4.tc.mb-3-xs.mb-3-sm.mb-3-md
          .small EVENTOS 2020
  .container-fluid.primary-500
    .container.tc.ph-3
      .row
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md
          .small UNIVERSIDAD DE LOS ANDES
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md
          .small JUAN CARLOS MARTÍNEZ REY
        .col-md-4
          .small e-Mail:&nbsp;
            a(href='jc.martinezr1@uniandes.edu.co') jc.martinezr1@uniandes.edu.co